<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.velkonost.lume">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".vkontakte.activities.MainActivity"/>
        <activity android:name=".vkontakte.activities.MessagesActivity"/>
        <activity android:name=".AndroidDatabaseManager"/>

        <activity android:name=".instagram.activities.MainActivity"/>
        <activity android:name=".instagram.activities.InstagramActivity"/>

        <activity android:name=".facebook.activities.MainActivity"/>
        <activity android:name=".facebook.activities.MessagesActivity"/>

        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppClientId"
            android:value="5e674531494d40e096c2e86722d91baa" />
        <meta-data
            android:name="com.instagram.instagramapi.InstagramAppRedirectURL"
            android:value="http://velkonost.ru/auth/" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name2" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>